.team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 2.85em;
  margin-right: 2.85em;
}
.teamCard {
  width: 18em;
  margin-top: 3em;
  border: none;
}

@media only screen and (max-width: 680px) {
  .team {
    justify-content: space-around;
  }
}
