<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AAA-Project Tiles</title>
    <!-- Bootstrap link -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- Custom stylesheets -->
    <!-- Projects stylesheet -->
    <link rel="stylesheet" href="../css/projects.css" />
  </head>
  <body>
  <body>
    <div>
      <div class="projectDiv">
        <img
          class="twoProjectRowImage"
          src="https://res.cloudinary.com/ajithvault/image/upload/v1575287901/AAA/project1_g0xjiy.jpg"
          alt=""
        />
        <div class="twoProjectOverlay">
          <div class="title">Project 1</div>
        </div>
      </div>

      <div class="projectDiv">
        <img
          class="twoProjectRowImage"
          src="https://res.cloudinary.com/ajithvault/image/upload/v1575287898/AAA/project2_x6smqb.webp"
          alt=""
        />
        <div class="twoProjectOverlay"></div>
      </div>
    </div>
    <div>
      <img
        class="threeProjectRow"
        src="https://res.cloudinary.com/ajithvault/image/upload/v1575287901/AAA/project1_g0xjiy.jpg"
        alt=""
      />
      <img
        class="threeProjectRow"
        src="https://res.cloudinary.com/ajithvault/image/upload/v1575287898/AAA/project2_x6smqb.webp"
        alt=""
      />
      <img
        class="threeProjectRow"
        src="https://res.cloudinary.com/ajithvault/image/upload/v1575287901/AAA/project1_g0xjiy.jpg"
        alt=""
      />
    </div>
  </body>
</html>
